/* 20. Navs
   ========================================================================== */

/**
 * Tabs
 */

.nav-tabs {
	border-color: $gray-lighter;
}

.nav-tabs > li  {
    > a {
	  color: $base-color;
	  background-color: $gray-light;
	}
	> a:hover,
	> a:focus {
		color: $link-color;
	    background-color: $gray-light;
		border-color: $gray-lighter;
		border-bottom-color: transparent;
	}
	
}

.nav-tabs > li.active  {
	> a,
	> a:focus,
	a:hover {
		background-color: $gray-light;
		color: $link-color;
		border-color: $gray-lighter;
		border-bottom-color: transparent;
	}
}

.tabs-container {
	margin-bottom: 30px;
}

.tab-wrapper {
	margin-bottom: 10px;
}

.tabs-container {
  .panel-body {
  	border: solid 1px $gray-lighter;
  	border-top: 0 none;
	background-color: $gray-light;
  }
  &.tabs-vertical .panel-body {
    border-top: solid 1px $gray-lighter;
  }
}

.tabs-vertical {
  & .nav-tabs {
  	float: left;
  	width: 85px;
  	> li {
  	  float: none;
  	}
  }
  & .tab-content {
  	overflow: hidden;
  }
}


.tabs-vertical .nav-tabs > li {
  &  > a {
    	border-color: $gray-lighter;
    	border-radius: 0;
    	margin-right: -1px;
    	z-index: 5;
  }
  &:first-child a {
	@include border-radius(4px 0 0 0);
  }
  &.active {
    & a,
    & a:hover,
    & a:focus {
     	border-color: $gray-lighter;
  	    border-right-color: $gray-light;
    }
  }
}

.tabs-right .nav-tabs {
    float: right;
    & > li {
      & > a {
        	margin-right: 0;
	        margin-left: -1px;
      }
       &:first-child a {
		 @include border-radius(0 4px 0 0);
       }
      &.active {
        & > a, 
        & > a:hover,
        & > a:focus {
            border-color: $gray-lighter;
	        border-left-color: $gray-light;
        }
      }
    }
}


/**
 * Pills
 */

.nav-pills > li {
  & > a {
    	padding: 4px 12px;
    	background-color: $gray-light;
    	@include border-radius(0);
  }
  & > a:hover,
  &.active > a,
  &.active > a:hover,
  &.active > a:focus {
       background-color: $brand-primary;
	   color: $gray-base; 
  }
  & + li {
    	margin-left: 0;
  }
  & > a:focus {
  	background-color: $brand-primary;
  	color: $gray-base;
  }
}

.nav-pulls-default {
	border: solid 1px $gray-lighter;
	border-radius: 3px; 
	& > li {
	  & > a {
	    background-color: $gray-light;
    	color: $base-color;
  	  }
    	& + li {
    	  border-left: solid 1px $gray-lighter;
    	}
  	 &:first-child > a {
	   @include border-radius(3px 0 0 3px);
  	 } 
  	 &:last-child > a {
	   @include border-radius(0 3px 3px 0);
  	 }
  	 & > a:hover,
  	 &.active > a,
     &.active > a:hover,
     &.active > a:focus{
  	    background-color: $gray;
	      color: $base-color; 
  	 }
	}
}


/**
 * Nav Icons
 */
 
.nav-icons {
	font-size: 20px;
	& li {
	  line-height: 1.1;
	}
	& > li {
	  & > a {
	    	padding: 3px;
      	text-align: center;
      	min-width: 30px;
      	& i {
      	  	margin: 0;
	          line-height: 1;
      	}
	  }
	}
}
